<%- include('../partials/admin/header.ejs') %>

<%- include('../partials/admin/nav.ejs') %>

<h2>Welcome to Administrator Control Room</h2>




<%- include('../partials/admin/footer.ejs') %>





    