    <footer class="">
        <section>
            <section>
              <h3>Buy</h3>
              <p>Utopia Money Back Guarantee</p>
              <p>Bidding & buying help</p>
              <p>stores</p>
            </section>

          <section>
              <h3>Sell</h3>
              <p>Learn to Sell</p>
              <p>Affiliates</p>
              <section>
                  <h2 class="text-info">Tools & apps</h2>
                  <p>Developers</p>
                  <p>Security center</p>
                  <p>Site map</p>
              </section>
          </section>

          <section>
              <h3>Stay Connected</h3>
              <p>FaceBook</p>
              <p>Twitter</p>
              <p>Linkedin</p>
          </section>

          <section>
              <h3>About Utopia</h3>
              <p>Company info</p>
              <p>News</p> 
              <p>Investors</p>
              <p>Careers</p>
              <p>Government relations</p>
              <p>Advertise with us</p>
              <p>Policies</p>
              <p> Verified Rights Owner (VeRO) Program</p>
          </section>

          <section>
              <h3>Help & Contact</h3>
              <p>Seller Information Center</p>
              <p>Contact us</p> 
              <section>
                  <h3 class="text-info">Community</h3>
                  <p>Announcements</p>
                  <p>Discussion boards</p>
                  <p>Utopia Giving Works</p>
              </section>
          </section>
        </section>
        <p class="text-center">&copy; Utopia Inc. 2020</p>
    </footer>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js" integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
