<%- include('./partials/homeHeader.ejs') %>

<%- include('./partials/confirmCheck.ejs') %>

<main class="paymentReview">
    <p>Order Total : &dollar;<%= pamentAmount  %> </p>
    <span>From Utopia store credit</span>
    <p>Payment discount </p>
    <hr>
    <p>TOTAL TO PAY</p>
</main>



<%- include('./partials/userFooter.ejs') %>